# Node / Next.js
node_modules/
.next/
out/

# Python
venv/
__pycache__/
*.pyc

# Env
.env
.env.*
!.env.example
!.env.local.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# DB
*.db

# TypeScript build cache
*.tsbuildinfo

# Editor
.vscode/

# word and PDF
*.docx
*.pdf

# uploaded files
uploads/